.l-container--especial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.l-container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    
}
[class*="col-"]{
    width: 100%;
    min-height: 1px
}
.col-1{
    flex: 0 0 calc(100%/12);
    max-width: calc(100%/12);
}
.col-2{
    flex: 0 0 calc(100%/6);
    max-width: calc(100%/6);
}
.col-3{
    flex: 0 0 calc(100%/4);
    max-width: calc(100%/4);
}
.col-4{
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);
}
.col-5{
    flex: 0 0 calc(100%/ calc(12/5));
    max-width: calc(100%/ calc(12/5));
}
.col-6{
    flex: 0 0 calc(100%/2);
    max-width: calc(100%/2);
}
.col-7{
    flex: 0 0 calc(100%/ calc(12/7));
    max-width: calc(100%/ calc(12/7));
}
.col-8{
    flex: 0 0 calc(100%/ calc(12/8));
    max-width: calc(100%/ calc(12/8));
}
.col-9{
    flex: 0 0 calc(100%/ calc(12/9));
    max-width: calc(100%/ calc(12/9));
}
.col-10{
    flex: 0 0 calc(100%/ calc(12/10));
    max-width: calc(100%/ calc(12/10));
}
.col-11{
    flex: 0 0 calc(100%/ calc(12/11));
    max-width: calc(100%/ calc(12/11));
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}